@import "tailwindcss";

:root {
  --background: #05070d;
  --foreground: #ffffff;

  --primary: #38bdf8;
  --secondary: #1e293b;

  --card: #0b1220;
  --border: #1f2937;

  --muted: #94a3b8;

  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100%;
}